  .elenaLogo {
      margin: 0 auto;
      padding: 20px 20px;
      height: 12.27%;
      width: 45%;
      color: #ffffff;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }